# Credit Card Fraud Detection

### Importing all dependencies

In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Data Collection and Preprocessing

In [6]:
# load dataset
card_dataset = pd.read_csv("creditcard.csv")

In [8]:
# show dataset
card_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [27]:
# dataset size
card_dataset.shape

(284807, 31)

In [9]:
# missing values check
card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# detail information of dataset
card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [29]:
# label dristribution of class
card_dataset["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [30]:
# Separate legit and fraud transactions
legit = card_dataset[card_dataset.Class == 0]
fraud = card_dataset[card_dataset.Class == 1]

In [32]:
# statistial measure of legit transactions
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [33]:
# statistial measure of fraud transactions
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [35]:
# compare legit and fraud transactions
card_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Undersampling

In [37]:
# taking samples as same number of fraud 
legit_sample = legit.sample(n = 492)

In [38]:
# making a new dataset with same number of data
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [41]:
# shape of new dataset
new_dataset.shape

(984, 31)

In [42]:
# legit at top
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
189720,128533.0,1.914426,-0.059760,-1.889765,0.385481,0.324276,-0.913124,0.211482,-0.203588,0.383061,...,0.264476,0.765599,-0.115800,-0.463005,0.221878,-0.100886,-0.016207,-0.035439,62.48,0
35268,38041.0,0.879737,-1.018706,1.093509,0.603820,-1.108173,1.083966,-1.000103,0.434826,-0.673775,...,-0.194755,-0.221220,0.014386,-0.317151,0.046476,-0.369723,0.096559,0.050487,144.00,0
173370,121458.0,1.915051,-1.142433,-1.038924,-0.968232,-0.492977,0.308675,-0.832398,0.207965,1.815027,...,0.157354,0.437040,-0.072913,-1.396938,-0.235147,0.803162,-0.057411,-0.065478,92.00,0
213932,139456.0,-1.277138,-0.874462,-2.274415,-1.390290,-1.397960,-0.642320,2.844168,-0.001887,0.579779,...,0.100539,-0.854019,2.124905,-0.441831,-2.011829,-0.363278,-0.017506,0.387895,691.06,0
251687,155459.0,0.333215,-0.738123,1.013667,-2.833729,-0.068939,-0.202753,0.897208,-1.354412,-1.191390,...,-0.279061,0.395266,-0.250831,-0.351469,-0.573505,-0.426285,-1.257627,-1.072651,50.00,0

In [43]:
# fraud at end
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [46]:
# check distribution
new_dataset["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [48]:
# checking data status now
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92589.617886,-0.070570,-0.007636,-0.020860,0.036153,-0.086780,0.077418,-0.014098,0.121498,0.007404,...,0.014907,0.006715,-0.016968,-0.044839,0.020211,-0.020845,0.018390,-0.005121,-0.021020,98.026768
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [49]:
# Split feature and target
X = new_dataset.drop(["Class"], axis = 1)
Y = new_dataset["Class"]

In [50]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
189720  128533.0  1.914426 -0.059760 -1.889765  0.385481  0.324276 -0.913124
35268    38041.0  0.879737 -1.018706  1.093509  0.603820 -1.108173  1.083966
173370  121458.0  1.915051 -1.142433 -1.038924 -0.968232 -0.492977  0.308675
213932  139456.0 -1.277138 -0.874462 -2.274415 -1.390290 -1.397960 -0.642320
251687  155459.0  0.333215 -0.738123  1.013667 -2.833729 -0.068939 -0.202753
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
189720  0.211482 -0.203588  0.383061  ... -0.086751  0.264476  0.765599
35268  -1.000103  0.434826 -0.673775  ... -0.306186 -0.194755 -0.221220
173370 -0.832398  0.207965  1.815027  ... -0.043981  0.157354  0.437040
213932  2.844168 -0.001887  0.579779  ...  1.170725  0.100539 -0.854019
251687  0.897208 -1.354412 -1.191390  ... -0.159340 -0.279061  0.395266
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
189720 -0.115800 -0.463005  0.221878 -0.100886 -0.016207 -0.035439   62.48
35268   0.014386 -0.317151  0.046476 -0.369723  0.096559  0.050487  144.00
173370 -0.072913 -1.396938 -0.235147  0.803162 -0.057411 -0.065478   92.00
213932  2.124905 -0.441831 -2.011829 -0.363278 -0.017506  0.387895  691.06
251687 -0.250831 -0.351469 -0.573505 -0.426285 -1.257627 -1.072651   50.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
189720    0
35268     0
173370    0
213932    0
251687    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### Split Train and Test data

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [52]:
print("Total data: ", X.shape)
print("Train data: ", X_train.shape)
print("Test data: ", X_test.shape)

Total data:  (984, 30)
Train data:  (787, 30)
Test data:  (197, 30)

In [53]:
print(X_train)
print(Y_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
39993    40049.0   0.997536 -0.483349   0.639525  0.078657  -0.520133
21851    31896.0  -1.196331  1.807690   0.063990 -0.138481  -0.107184
176371  122736.0  -1.692029 -3.147795  -1.576210 -0.989689  -3.345302
197651  132113.0   1.836617 -0.972652  -1.318563 -0.129708  -0.761210
...          ...        ...       ...        ...       ...        ...
196789  131693.0  -0.702591  0.324183   1.596207 -0.863510   0.620760
161135  113913.0   1.864616  0.242107  -0.183291  4.028989  -0.005995
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
29283    35396.0   1.294767 -1.560889   0.212874 -1.601118  -1.347939

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
39993   0.542609  -0.514634  0.319370  0.374146  ...  0.000076  0.074358
21851  -0.538460   0.018700  0.808529 -0.585721  ...  0.096389 -0.266759
176371  0.773560   4.665649 -0.654322 -1.430945  ...  2.535888  0.839357
197651 -1.471096   0.249034 -0.564969 -0.843176  ... -0.223372 -0.383698
...          ...        ...       ...       ...  ...       ...       ...
196789 -0.031285   0.125338  0.298423 -0.009708  ... -0.023525 -0.000339
161135  0.453585  -0.307622  0.173418 -0.124106  ... -0.380116  0.094753
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
29283   0.224842  -1.216302  0.049378 -1.783357  ... -0.017727 -0.009820

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
39993   0.237735 -0.002663 -0.194618  0.063025  1.048755 -0.040685  0.002527
21851  -0.853203 -0.035240 -0.620670  0.090816  0.139021  0.114530  0.013392
176371  0.345803  2.915971 -0.164691 -0.670892 -0.559512 -0.173259  0.338650
197651 -0.818044  0.194463  0.489407 -0.295991  0.430722 -0.092084 -0.028503
...          ...       ...       ...       ...       ...       ...       ...
196789 -0.159329 -0.002705  0.652726 -0.335830 -0.664455  0.128934  0.149891
161135  0.478547  0.179081  1.063898  0.024310  0.085026 -0.011115 -0.039143
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
29283   0.069223 -0.267759 -0.840626  0.418213 -0.061459  0.022565  0.027025

         Amount
100623   549.06
39993     70.00
21851      9.12
176371  1199.00
197651   173.97
...         ...
196789     1.18
161135     1.51
223618     1.00
43061     34.12
29283    138.00

[787 rows x 30 columns]
100623    1
39993     0
21851     0
176371    0
197651    0
         ..
196789    0
161135    0
223618    1
43061     1
29283     0
Name: Class, Length: 787, dtype: int64

### Model training with Logistic Regression

In [56]:
model = LogisticRegression(max_iter = 1000)

In [57]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

### Model Evaluation

In [58]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print("Accuracy on training data: ", training_data_accuracy)

Accuracy on training data:  0.9491740787801779

In [59]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print("Accuracy on training data: ", test_data_accuracy)

Accuracy on training data:  0.9543147208121827

### Predictive System

In [73]:
sample = X_test.iloc[0].values
print(sample)

[ 1.53761000e+05  1.14625927e+00  1.40345824e+00 -4.15914819e+00
  2.66010706e+00 -3.23216827e-01 -1.83607089e+00 -1.62374006e+00
  2.59562498e-01 -1.13204415e+00 -3.35647371e+00  3.64647784e+00
 -3.00268416e+00 -6.47500580e-01 -5.94500331e+00  1.74650037e-01
 -1.47563951e+00 -3.08227353e+00  2.24739755e-01 -3.00930779e-01
  2.84830656e-01  5.64449516e-01  4.45743912e-01 -1.41136197e-01
 -2.65517116e-01  3.62259920e-01 -4.16062098e-01  5.07369853e-01
  2.43744114e-01  5.13700000e+01]

In [74]:
Y_test.iloc[0]

1

In [75]:
input_data = sample

# reshape the numpy array as we're predicting for one instance
input_data_reshaped = input_data.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if(prediction[0] == 0):
    print("It's a Legit transaction")
else:
    print("It's a Fraud transaction")

[1]
It's a Fraud transaction

C:\Users\TanveerKader\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(