# Supermarket Sales Prediction

### Import all dependencies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

### Data Collection and Preprocessing

In [4]:
# loading train dataset
mart_data =  pd.read_csv("Train.csv")

In [7]:
# show dataset
mart_data.head(5)

  Item_Identifier  Item_Weight Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30          Low Fat  ...                Tier 1  Supermarket Type1          3735.1380
1           DRC01         5.92          Regular  ...                Tier 3  Supermarket Type2           443.4228
2           FDN15        17.50          Low Fat  ...                Tier 1  Supermarket Type1          2097.2700
3           FDX07        19.20          Regular  ...                Tier 3      Grocery Store           732.3800
4           NCD19         8.93          Low Fat  ...                Tier 3  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [8]:
# dataset information
mart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
# checking missing values
mart_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

### Handle missing values

In [19]:
# mean value of Item_weight
mart_data["Item_Weight"].mean()

12.857645184135976

In [20]:
# replace missing values with mean value
mart_data["Item_Weight"].fillna(mart_data["Item_Weight"].mean(), inplace = True)

In [21]:
# mode of outlet size column
mart_data["Outlet_Size"].mode()

0    Medium
Name: Outlet_Size, dtype: object

In [26]:
# find modes in each type of market
mode_of_Outlet_size = mart_data.pivot_table(values = "Outlet_Size",
                                            columns = "Outlet_Type",
                                            aggfunc = (lambda x: x.mode()[0]))
mode_of_Outlet_size

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2 Supermarket Type3
Outlet_Size         Small             Small            Medium            Medium

In [28]:
# missing values
miss_vals = mart_data["Outlet_Size"].isnull()
miss_vals

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [ ]:
# replace missing values
mart_data.loc[miss_vals, "Outlet_Size"] = mart_data.loc[miss_vals, "Outlet_Type"].apply(lambda x: mode_of_Outlet_size[x])